@{
    ViewBag.Title = "EmptyCart";
    Layout = "~/Views/Shared/_DetailLayoutPage.cshtml";
}

<div id="wrapper" style="background-color:#f2f0ed">
    <center class="mt-3">
        <img src="/Assets/Image/cartEmpty.jpg" />
        <br />
        <br />
        <p>Không có sản phẩm nào trong giỏ hàng</p>
        <a class="btn btn-outline-primary mb-1 mt-2" href="@Url.Action("ShowAllProducts","Product")" style="font-weight:bold"> VỀ TRANG CHỦ </a>
        <p>Khi cần trợ giúp vui lòng liên hệ <a href="https://www.instagram.com/" style="text-decoration-color:#1899ba">&nbsp;0941679927</a>&nbsp;(7h30 - 22h)</p>
    </center>

</div>
