<nav class="navbar navbar-expand navbar-light" style="background-color:#f5d732">
    <div class="container collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 center text-light"   >
            <li class="nav-item mx-2">
                <a class="nav-link" aria-current="true" href="#"> Điện thoại </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="true" href="@Url.Action("ShowAllProducts","Product")"> Laptop </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" aria-current="true" href="#"> Phụ kiện </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" aria-current="true" href="#"> Đồng hồ thông minh </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" aria-current="true" href="#"> Đồng hồ thời trang </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" aria-current="true" href="#"> Máy cũ giá rẻ </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" aria-current="true" href="#"> Tablet </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" aria-current="true" href="#"> Hỏi đáp</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" aria-current="true" href="#"> Thông tin liên hệ</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" aria-current="true" href="@Url.Action("TuVanKhachHang","TuVan")"> Tư vấn</a>
            </li>
        </ul>
    </div>
</nav>